<div data-price-wrapper class="d-flex align-items-center">
  {%- if product.compare_at_price_max > product.price -%}
    <span class="visually-hidden" data-compare-text>{{- 'products.product.regular_price' | t -}}</span>
    <s data-compare-price>
      {%- if current_variant.compare_at_price > current_variant.price -%}
        {{- current_variant.compare_at_price | money_without_trailing_zeros -}}
      {%- endif -%}
    </s>
  {% endif %}

    <span  data-product-price>
      {{- current_variant.price | money_without_trailing_zeros -}}
    </span>

  {%- if product.compare_at_price_max > product.price -%}
    {%- if current_variant.compare_at_price > current_variant.price -%}
      {% capture discount %}
        {{ current_variant.compare_at_price | minus:current_variant.price | times:100 | divided_by:current_variant.compare_at_price | round }}%
      {% endcapture %}
      <span class="discount-txt" data-product-discount>{{ discount }} SAVINGS</span>
    {% endif %}

  {% endif %}



</div>
