
<section class="account-container">
  <div class="watercolor1">
    {% include "illo-water-color-account-2" %}
  </div>
  <div class="container">

    <h1>{{ 'customer.register.title' | t }}</h1>

    {% form 'create_customer' %}
      {{ form.errors | default_errors }}
      <div class="input-container d-flex justify-content-between">
        <div class="w--48">
          <label for="FirstName" class="label-hidden">
            {{ 'customer.register.first_name' | t }}
          </label>
          <input type="text"
            name="customer[first_name]"
            id="FirstName"
            placeholder="{{ 'customer.register.first_name' | t }}"
            autofocus
            {% if form.first_name %}value="{{ form.first_name }}"{% endif %}>
        </div>

        <div class="w--50">
          <label for="LastName" class="label-hidden">
            {{ 'customer.register.last_name' | t }}
          </label>
          <input type="text"
            name="customer[last_name]"
            id="LastName"
            placeholder="{{ 'customer.register.last_name' | t }}"
            {% if form.last_name %}value="{{ form.last_name }}"{% endif %}>
        </div>
      </div>

      <div class="input-container">
        <label for="Email" class="label-hidden">
          {{ 'customer.register.email' | t }}
        </label>
        <input type="email"
          name="customer[email]"
          id="Email"
          class="{% if form.errors contains 'email' %}input-error{% endif %}"
          placeholder="{{ 'customer.register.email' | t }}"
          value="{% if form.email %}{{ form.email }}{% endif %}"
          spellcheck="false"
          autocomplete="off"
          autocapitalize="off">
      </div>

      <div class="input-container">
        <label for="CreatePassword" class="label-hidden">
          {{ 'customer.register.password' | t }}
        </label>
        <input type="password"
          name="customer[password]"
          id="CreatePassword"
          class="{% if form.errors contains 'password' %}input-error{% endif %}"
          placeholder="{{ 'customer.register.password' | t }}">
      </div>

      <div class="btn-container">
        <p>
          <input type="submit" value="{{ 'customer.register.submit' | t }}" class="button">
        </p>
        <a href="{{ shop.url }}">{{ 'customer.register.cancel' | t }}</a>
      </div>





    {% endform %}
  </div>
  <div class="watercolor2">
    {% include "illo-water-color-account-2" %}
  </div>
</section>
